{% extends 'base.html.twig' %}

{% block title %}détail du module{% endblock %}

{% block body %}
<h1> Détail d'un module {{ moduleformation.intitule}} </h1>

<h2>Module: {{ moduleformation.intitule }} </h2>

{% if moduleformation | length > 0 %}
        {% for programme in moduleformation.programmes %}
        Durée: {{ programme.nbJours }} jours
        {% endfor %}
    {% else %}
    Il n'y a pas de module pour cette categorie
{% endif %}


{% endblock %}